<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle Usuario</title>
</head>
<body>
    <h1>Mi Perfil</h1>
    <form th:object="${usuario}" action="#"
    						th:action="@{/erp/actualizarUsuario}" method="post">
        <input type="hidden" th:field="*{id}" th:value="*{id}">
        
        <label for="nombre">Nombre:</label>
        <input type="text" th:field="*{nombre}" th:value="*{nombre}" required><br><br>

        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" th:value="*{email}" required><br><br>
        
        <!-- agregar fecha alta y estado -->

        <!-- Solo se muestra al administrador -->
        <div th:if="${rolAdmin}">
            <label for="rol">Rol:</label>
            <select id="rol" name="rol">
                <option value="USER" th:selected="${usuario.rol == 'USER'}">Usuario</option>
                <option value="ADMIN" th:selected="${usuario.rol == 'ADMIN'}">Administrador</option>
            </select><br><br>
        </div>

        <button type="submit">Actualizar</button>
    </form>
</body>
</html>
