<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle Usuario</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>

	<header>
		<p>LOGOTIPO</p>
		<h2>Nombre Empresa</h2>
	</header>

	<main>
		<section class="login-container">
			<div class="login-card">
				<h1>Mi Perfil</h1>
				    <form th:object="${usuario}" action="#"
				    						th:action="@{/erp/actualizarUsuario}" method="post">
				        <input type="hidden" th:field="*{id}" th:value="*{id}">
				        <div class="form-group">
					        <label for="nombre">Nombre:</label>
					        <input type="text" th:field="*{nombre}" th:value="*{nombre}" required><br><br>
						</div>
						<div class="form-group">
				        <label for="email">Email:</label>
				        <input type="email" th:field="*{email}" th:value="*{email}" required><br><br>
				        </div>
						<div class="form-group">
				        <!-- agregar fecha alta y estado -->
				          <label for="activo">Estado:</label>
				    <select th:field="*{activo}">
				        <option value="true" th:selected="${usuario.activo}">Activo</option>
				        <option value="false" th:selected="${!usuario.activo}">Inactivo</option>
				    </select><br><br>
				</div>
						<div class="form-group">
				    <label>Fecha de Alta:</label>
				    <input type="text" th:value="${usuario.fechaAlta}" readonly><br>
				    </div>
						<div class="form-group">
				        				        
				        <label th:if="${esAdmin}">Roles:
				        <div th:each="rol : ${allRoles}">
						    <input type="checkbox"
						           name="rolesIds"
						           th:value="${rol.id}" 
						           th:checked="${#lists.contains(usuario.roles, rol)}"/>
						    <span th:text="${rol.nombre}"></span>
						</div>
						</label>	
				</div>
				        <button type="submit" class="ingresar">Actualizar</button>
				    </form>
			</div>
		</section>
	</main>

	<footer>
		<p>&copy; Copyright. Nombre Empresa. Todos los derechos
			reservados.</p>
	</footer>
	
    
</body>
</html>
