<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>

<body>
	<header>
		<p>LOGOTIPO</p>
		<h2>Nombre Empresa</h2>
	</header>
	<main>
        <section class="login-container">
			<div class="login-card">
                <h1>BIENVENIDO</h1>
                <a th:href="@{registroUsuario}" class="enlace">INGRESAR</a>
            </div>
        </section>
    </main>
	
    <footer>
		<p>&copy; Copyright. Nombre Empresa. Todos los derechos reservados.</p>
	</footer>
</body>
</html>
