<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <link rel="stylesheet" href="../css/Normal.css">
</head>
<body>
    <div class="cont">
        <h1>Registrar Usuario</h1>
        
        <form th:object="${usuario}" th:method="post">  <!-- quite esto para poder visualizar la pagina action="#" th:action="@{/practica/usuario}"   -->
        
            <label for="nombre">Nombre:</label>
            <input type="text" th:field="*{nombre}" required>

            <label for="correo">Correo Electrónico:</label>
            <input type="email" th:field="*{email}" required>

            <label for="contrasena">Contraseña:</label>
            <input type="password" th:field="*{passwordHash}" required>

            <label for="activo">Activo:</label>
            <select th:field="*{activo}">
                <option value="true">Activo</option>
                <option value="false">No activo</option>
            </select>

            <input class="btn" type="submit" value="Enviar">
            
        </form>
        <a href="inicio" class="link">Volver a Bienvenida</a>
    </div>
</body>
</html>
