<!DOCTYPE html>
<!-- Hola -->
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
<body>
<header>
	<p>LOGOTIPO</p>
	<h2>Nombre Empresa</h2>
</header>
	
<main>	
	<section>
		<form action="#" th:action="@{/erp/detalleUsuario}" th:method="post" th:object="${usuario}" id="formu">
			 <input type="hidden" th:field="*{email}" placeholder="Ingrese su usuario" required autofocus>
			 <input type="hidden" th:field="*{passwordHash}" required>
			</form>
			
		<h1>ERP - PLATAFORMA DE GESTIÓN
		
		</h1>
		

		<div>
			<h2>Gestión Perfiles</h2>
			<div th:if="${esAdmin}">
				<a th:href="@{registrarUsuario}">Nuevo Usuario</a>
				<a th:href="@{registrarRol}">Nuevo Rol</a>				
			</div>
			<a href="#" onclick="document.getElementById('formu').submit(); return false;">
    			Detalles de usuario</a>
			
		</div>
		
		<div>
			<h2>Clientes</h2>
		</div>
		
		<div>
			<h2>Pedidos</h2>
		</div>
		
		<div>
			<h2>Factura</h2>
		</div>

	</section>
</main>	
	
    <footer>
		<p>&copy; Copyright. Nombre Empresa. Todos los derechos reservados.</p>
	</footer>
</body>
</html>